<div ng-include="'components/navbar/navbar.html'"></div>

<div id="sidebar">

	
		<h1> What is GOYC </h1>
		<button ng-click="getApi()" id="submit">
          	Submit
		<p> Green out Your Closet is tool to educate consumers about the importance of supply chain transparency in the fashion industry and provide access to sustainably made clothing. </p>  
		<ol>
			<li> Allow Green Out Your Closet access to your system webcam. </li>
			<li> Press the Camera button to take a picture of the clothes you are wearing. </li>
			<li> Once you have reviewed the picture press submit to find similar looking clothes that were produced in an ecofriendly and humane way. </li>
			<li ng-model="name">{{name}}</li>
			
		</ol>
			
 		</div>
          

<div  id="stream">
	<video id="webcam"></video>
	

	<canvas id="capture" style="display:none;"></canvas>
			<img id="canvasImg">
	

      <button id="snapPicture">
          <span class="glyphicon glyphicon-camera" aria-hidden="true">  	

      </button>

      <div id="twoButtons">
      	<button ng-click="getApi()" id="submit">
          	Submit

      </button>
      <button ng-click="retake()" id="retake">
      	Retake
          	

      </button>
      		</div>

       <div id="timer">
       		<div id="one" class="timerDot"></div>
		<div id="two" class="timerDot"></div>
		<div id="three" class="timerDot"></div>
		<div id="four" class="timerDot"></div>
		<div id="five" class="timerDot"></div>
		<div id="six" class="timerDot"></div>

		</div> 
    </div>
  </div>
</div>
