<div ng-include="'components/navbar/navbar.html'"></div>

<div id="sidebar">

	
		<div id="instructions">
		<h1> Are you ready to <br> Green Out Your Closet? </h1>
		
		<ol>
			<li> Allow Green Out Your Closet access to your system webcam. </li>
			<li> Press the Camera button to take a picture of the clothes you are wearing. </li>
			<li> Once you have reviewed the picture press submit to find similar looking clothes that were produced in an ecofriendly and humane way. </li>
			
			
		</ol>

	</div>

	<div id="loading">

		<h1> We're searching our closet to find something you'll love </h1>



	<div id="loadingBlocks">
		<div id="block_1" class="barlittle"></div>
		<div id="block_2" class="barlittle"></div>
		<div id="block_3" class="barlittle"></div>
		<div id="block_4" class="barlittle"></div>
		<div id="block_5" class="barlittle"></div>
	</div>

	</div>

	<div id="match" style="display:block;">
		<h1 ng-model="matchName"> {{matchName}}</h1>
			<h3 ng-model = "matchRetailer"> {{matchRetailer}} </h3>
	
		<div id="matchPicture">
		<img ng-src="{{image}}"/>
		</div>


		<p ng-model="matchDescription"> <strong> description:  </strong> {{ matchDescription }} </p>

		<p ng-model="matchEco"> <strong> Why it's better: </strong> {{matchEco}} </p>

	<p style="text-align:center;">
		<a ng-href="{{matchLink}}" target="_blank"> Buy </a>
	</p>

	</div>	

			
 		</div>
          

<div  id="stream">
	<video id="webcam"></video>
	

	<canvas id="capture" style="display:none;"></canvas>
			<img id="canvasImg">
	

      <button id="snapPicture">
          <span class="glyphicon glyphicon-camera" aria-hidden="true">  	

      </button>

      <!-- <div id="twoButtons">
      	<button ng-click="getApi()" id="submit">
          	Submit

      </button>
      <button ng-click="retake()" id="retake">
      	Retake
          	

      </button>
      		</div> -->

       <div id="timer">
       		<div id="one" class="timerDot"></div>
		<div id="two" class="timerDot"></div>
		<div id="three" class="timerDot"></div>
		<div id="four" class="timerDot"></div>
		<div id="five" class="timerDot"></div>
		<div id="six" class="timerDot"></div>

		</div> 
    </div>
  </div>
</div>
