.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #87D37C;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.fluid-container {
    background-color: green;
}

#snapPicture {
    border: red 2px solid;
    background-color: aliceblue;
    color: red;
    border-radius: 50%;
    margin-left: 50%;
    margin-right: 50%;
    display: block; 
    position: absolute;
    bottom: 20px;
    z-index: 300;

}

#twoButtons {
    position: absolute;
    bottom: 20px;
    margin-left: 50%;
    margin-right: 50%;
    z-index: 301;
    display: none;


}


/* Sidebar */

#sidebar {
    width: 30%;
    position: relative;

}

#sidebar h1, p, li {
    padding: 10px;


}

/* photobooth */

#stream {
   
    display: block;
    background-color: #ccc;
    position: absolute;
    width: 70%;
    height: 100%;
    right:0;
    top:0;
}

#canvasImg {
    
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right:0;
    z-index: 100;
    margin: 0;
    border: none;

}

canvas {
    border: none;
}
 
#webcam {
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    background-size: cover;
    overflow: hidden;
}

.glyphicon-camera {
    font-size: 3em;
}

#timer {
    position: absolute;
    bottom: 0;
    padding: 20px;
    display: none;
}

.timerDot {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: red;
    margin-right: 20px;
    border-radius: 50%;
    z-index: 1000;

}

/********* Loading Screen ************/

#loading {
    margin: 0px auto;
    text-align: center;
    display: none;
}


#loadingBlocks {
    position:absolute;
    display: block;
    margin: 0px auto;
    left: 50%;  
    margin-left: -50px;   
}

.barlittle {
    background-color: #FF5050;
    width: 10px;
    height: 10px;
    float: left;
    margin-left: 5px;
    opacity: 0.1;
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-animation: move 1s infinite linear;
    -webkit-animation: move 1s infinite linear;
}

#block_1 {
    -moz-animation-delay: .6s;
    -webkit-animation-delay: .6s;
}

#block_2 {
    -moz-animation-delay: .4s;
    -webkit-animation-delay: .4s;
}

#block_3 {
    -moz-animation-delay: .2s;
    -webkit-animation-delay: .2s;
}

#block_4 {
    -moz-animation-delay: .3s;
    -webkit-animation-delay: .3s;
}

#block_5 {
    -moz-animation-delay: .4s;
    -webkit-animation-delay: .4s;
}

@-moz-keyframes move {
    0% {
        -moz-transform: scale(1.2);
        opacity: 1;
    }

    100% {
        -moz-transform: scale(0.7);
        opacity: 0.1;
    };
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: scale(1.2);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0.7);
        opacity: 0.1;
    };
}

/*
*********** Match Screen **************/


#match {
    display:none;
    
}

#match h1 , h3 {
    text-align: center;
}

#matchPicture {

    display: block;
    height: 300px;
    width: 60%;
    margin: 0 auto;
    background-color: blue;

}

#matchPicture img {
    width: 100%;
}